/* reset */
body,
h1,
p {
  margin: 0;
}

h1 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

/* layout */
.wrapper {
  width: 960px;
  margin: 0 auto;
}

/* design */
body {
  background-image: url(./images/bg.png);
}

.header {
  margin: 30px 0;
}

.menu-icon {
  display: inline-block;
  background-color: black;
  width: 200px;
  height: 200px;
  margin-right: 10px;
  border-radius: 50%;
  text-align: center;
  line-height: 200px;
  letter-spacing: 0.3em;
  text-indent: 0.3em;
  /* letter-spacing을 적용했을 때 가운데 정렬이 되지 않고 약간 왼쪽으로 쏠린 현상이 있어 text-indent를 사용했는데 letter-spacing 때문에 왼쪽으로 쏠린 것인가요?? */
}

.menu-icon.logo {
  background-image: url(./images/logo.png);
  background-color: transparent;
  text-indent: -9999px;
}

.menu-icon.lemon {
  color: yellow;
}
.menu-icon.lemon:hover {
  background-image: url(./images/lemon.png);
}

.menu-icon.orange {
  color: orange;
}
.menu-icon.orange:hover {
  background-image: url(./images/orange.png);
}

.menu-icon.jamong {
  color: orangered;
}
.menu-icon.jamong:hover {
  background-image: url(./images/jamong.png);
}

.menu-icon.lemon:hover,
.menu-icon.orange:hover,
.menu-icon.jamong:hover {
  color: transparent;
}

.contents {
  background-image: url(./images/contents-bg.png);
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: right bottom;
  padding: 40px;
  border-radius: 30px;
}

.contents-title {
  font-size: 30px;
  font-weight: 700;
  color: #f60;
}

.contents-title > span {
  vertical-align: top;
  font-size: 16px;
  font-weight: 400;
  color: black;
}

.contents-description {
  margin: 20px 0 100px;
  line-height: 1.8;
  color: #999;
  word-break: keep-all;
}

.contents-description > span {
  display: inline-block;
  color: #fff;
  font-weight: 700;
  line-height: 1.6;
  background-color: #f60;
  padding: 0 7px;
  border-radius: 5px;
}

.contents-description > a {
  color: #2da237;
}

.contents-description > a:hover {
  text-decoration: underline;
}

.footer {
  color: #4e4943;
  padding: 20px;
  letter-spacing: 0.3em;
  text-align: right;
}
